* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

img {
  width: 100%;
}

#login {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/jazztation-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding: 5rem;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.login-content h1 {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
}

.login-content h3 {
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.login-content p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 80%;
  color: #c4bdb5;
}

.login-content .users {
  display: flex;
  margin-top: 1rem;
}

.login-content .users div {
  margin: 0 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.login-content .users div img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-attachment: cover;
  object-fit: cover;
}

.login-content .users div:last-child {
  background: #740001;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Form */
.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}

.main-form input {
  width: 25rem;
  margin: 0.5rem 0;
  padding: 1rem 0;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  font-size: 1.2rem;
}

.main-form input[type="email"]::placeholder,
.main-form input[type="text"]::placeholder,
.main-form input[type="password"]::placeholder {
  color: #fff;
}

.main-form input[type="button"] {
  background: #740001;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}

.main-form .input:last-child {
  position: relative;
}

.main-form .fa-eye {
  color: #fff;
  font-size: 1rem;
  position: absolute;
  top: 35.5rem;
  right: 4rem;
}

.form-content p {
  color: #c4bdb5;
  font-size: 1rem;
}

.form-content p span {
  color: #fff;
}
